///Mobile
@media only screen and (max-width: 800px) {
    .menu {
        display: none;
    }
    .row {
        flex-direction: column;
        align-items: center;
    }
    section {
        .wr {
            padding: 0px 20px;
            .row {
                flex-direction: column;
            }
        }
    }
    h2 {
        font-size: 20px;
    }
    h3 {
        font-size: 16px;
    }
    h4 {
        font-size: 15px;
    }
    img {
        max-width: 450px;
    }
    section#main {
        .wr {
            .box {
                align-items: center;
                justify-content: center;
            }
            #logo{
                margin: 0;
                padding-left: 70px;
            }
            .row {
                margin-top: 0;
                h2 {
                    text-align: center;
                    align-self: center;
                }
                span {
                    text-align: center;
                }
            }
        }
    }
    section#prob-sols {
        .wr {
            padding: 8% 0px;
            h2 {
                align-self: center;
                padding-bottom: 20px;
                margin: 0;
                margin-top: 20px;
            }
            .carousel {
                .carousel-cell {
                    .row {
                        justify-content: space-around;
                        align-items: center;
                        padding: 20px;
                        padding-bottom: 0;
                        img {
                            width: 90%;
                        }
                        .column{
                            margin: auto;
                        }
                        h3 {
                            text-align: center;
                            padding: 10px;
                        }
                    }
                }
            }
            #buttons {
                display: none;
            }
        }
    }
    section#contacts {
        #map {
            height: 260px;
        }
        .wr {
            .row {
                ul {
                    flex-direction: column-reverse;
                    align-items: center;
                    li {
                        p {
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
}
