@import "fonts";
@import "settings";
@import "menu";
$degT: 15%;
$degB: 85%;
$poly-top: polygon(0% $degT, 100% 0%, 100% 100%, 0% 100%);
$poly-bott: polygon(0% 0%, 100% 0%, 100% $degB, 0% 100%);
$poly: polygon(0% $degT, 100% 0%, 100% $degB, 0% 100%);
//Progress bar thin
$bar: 4px;
$bar-radius: 4px;

///General settings for Desctop
body {
    margin: 0;
    transition: 1s;
    padding: 0;
    width: 100%;
    height: auto;
}

.wr {
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0px 20px
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px 0px;
    background-color: $grey;
    margin-top: 80px;
}

.row {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    margin: 20px 0px;
}

.row::after {
    display: none;
}

.row::before {
    display: none;
}

.rowtext {
    margin: 30px 5px;
}

img {
    width: inherit;
}

///Sections styles
section#main {
    background-position: center !important;
    background-origin: content-box !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    position: relative;
    height: 100vh;
    margin: 0;
    padding-top: 0;
    width: 100%;
    overflow: hidden;
    clip-path: $poly-bott;
    .shade {
        width: 100%;
        height: 100%;
        opacity: 0.7;
        background-color: $blue;
        position: absolute;
        z-index: -1;
    }
    .wr {
        height: 100%;
        margin: 0;
        justify-content: space-between;
        .menu {
            margin-bottom: auto;
            padding-top: 50px;
            #logo {
                height: 140px;
                margin-right: auto;
                width: auto;
            }
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            ul {
                margin-top: 0px;
                display: flex;
                align-items: center;
                li {
                    visibility: hidden;
                    a {
                        color: white;
                        transition: 1s;
                        &::after {
                            height: 2px;
                            display: block;
                            width: 0%;
                            margin: auto;
                        }
                        &:hover {
                            &::after {
                                content: ""; // margin-top: 5px;
                                background-color: $green;
                                transition: 1s;
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
        .row {
            margin-bottom: 100px;

            span {
                @extend h2;
                font-weight: 800;
                color: white;
                font-size: 30px;
            }

        }
    }

}

.fade {
    position: absolute;
}

section#about {
    
    margin-bottom: 35px;
    padding: 0;
    background: none;
    background-color: white;
    justify-content: space-around;
    background-position: center;
    justify-content: center;
    align-items: center;
    transition: ease 4s;
    margin: 80px auto;
    .wr {
        margin: 0;
        #arrow {
            width: 14px;
            margin-top: -10%;
            animation: scale 2s ease infinite;
            cursor: pointer;
            fill: #16325C;
        }
        @keyframes scale {
            0% {
                transform: scale(1);
            }
            50% {
                transform: scale(1.1);
                fill: $darker;
            }
            100% {
                transform: scale(1);
            }
        }
        .rowtext {
            margin-top: 70px;
            align-items: center;
            display: flex;
            flex-direction: column;
            max-width: 750px;
            p{
                margin-top: 20px;
            }
            margin-bottom: 0;
        }
    }
}

section#message {
//    margin: 20px 0;
    background-color: $grey;
    .wr {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        div {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            h2 {
                span {
                    color: $blue;
                    font-size: 20px;
                    text-transform: none;
                }
            }
            a {
                @extend .btn;
            }
        }
    }
}

section#prob-sols {
    background-color: white;
//    margin: 30px auto;
    .wr {
        max-width: 1000px;
        h2 {
            //            margin-top: 50px;
            align-self: centers;
        }
    }
    .desc {
        //        margin-bottom: 20px;
    }
    .carousel {
        .flickity-viewport {
            height: auto;
            .flickity-slider {
                display: flex;
                align-items: center;
            }
        }
        width: 100%;
        .carousel-cell {
            width: 100%;
            .row {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 20px;
                padding-bottom: 10px;
                flex-direction: row-reverse;
                
                img {
                    max-width: 300px;
                    margin: auto;
                }
                .column {
                    display: flex;
                    flex-direction: column;
                    max-width: 550px;
                    margin: auto;
                    margin-right: 10px;
                    padding: 10px;
                    div {
                        margin-top: 30px;
                        text-align: left;
                        h3 {
                            margin-top: 0;
                            padding: 0;
                        }
                        p {
                            //                           display: inline-block;
                        }
                        ul {
                            
                            &::before{
                                display: none;
                            }
                            
                            &::after{
                                display: none;
                            }

                            display: flex;
                            flex-direction: column;
                            margin: 0;
                            list-style: outside;
                            li {
                                color: black;
//                                font-size: 20px;
                                text-transform: none;
                                width: 100%;
//                                line-height: 20px;
                                p {
                                    
                                }
                            }
                        }
                    }
                    
                    div:first-child{
                        margin-top: 0;
                    }
                    
                }
            }
        }
    } //ProgressBar and buttons
    .row {
        display: flex;
        align-items: center;
//        margin-top: 0;
        justify-content: space-between;
        margin: 0;
        #cover {
            background-color: rgb(164, 164, 164);
            width: 90%;
            height: $bar;
            border-radius: $bar-radius;
            .progress-bar {
                width: 0;
                align-self: flex-start;
                background-color: #16325C;
                height: $bar;
                border-radius: $bar-radius;
            }
        }
        .box {
            display: flex;
            width: 50px;
            justify-content: space-between;
            background: none;
            margin: 10px;
            margin-right: 0px;
            p{
              font-family: $SSP-R;  
            }
            .button-previous {
                cursor: pointer;
                width: 18px;
                height: 18px;
                background: url(../img/svg/arrow-previous.svg);
                background-position: cover;
            }
            .button-next {
                cursor: pointer;
                width: 18px;
                height: 18px;
                background: url(../img/svg/arrow-next.svg);
            }
        }
        
    }

}

section#contacts {
    padding: 20px auto;
    .wr {
        a {
            @extend .btn;
            margin-top: 20px;
        }
        h2 {
            margin-top: 30px;
            text-transform: none;
            color: $blue;
        }
        .row {
            margin: 0;
            padding: 20px;
            max-width: 750px;
            ul {
                width: 100%;
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                justify-content: space-between;
                margin: 10px;
                margin-top: 0;
                text-transform: lowercase;
                li {
                    margin: 0;
                    padding: 20px;
                    min-width: 100px;
                    img {
                        height: 28px;
                    }
                    p {
                        font-size: 14px;
                        color: black;
                        text-align: left;
                        &:first-child {
                            color: black;
                            margin-bottom: 10px;
                        }
                    }
                }
            }
            padding: 10px;
        }
    }

}

///Modal Form
.remodal-overlay {
    z-index: 6;
}

.remodal-wrapper {
    z-index: 7;
}

@import "media";
